<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UploadedfileMapper">

	<select id="findOne" resultType="Uploadedfile">
		select * from uploadedfile where id = #{id}
	</select>
	
	<select id="findAll" resultType="Uploadedfile">
		select * from uploadedfile
	</select>
	
	<insert id="insert">
		insert into uploadedfile (fileName, fileSize, fileTime, data) 
		values (#{fileName}, #{fileSize}, #{fileTime}, #{data})
	</insert>
	
	<delete id="delete">
		delete from uploadedfile where id = #{id};
	</delete>

</mapper>